<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Rubik+Moonrocks&family=Tsukimi+Rounded&display=swap"
    rel="stylesheet">

</head>

<body>
  <nav>
    <img src="">
    <a href="/dreams/new" <%- title==='All Movies' ? 'class="active"' : '' %>>I JUST WOKE UP!!!</a>
    <% if (user) { %>
      <a href="/users/profile">
        PROFILE</a>
      <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src=""></a>
        <% } %>
  </nav>
  <main>
    <div id="dreamingText">
      <span>D</span>
      <span>R</span>
      <span>E</span>
      <span>A</span>
      <span>M</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div>