<%- include('./partials/header') %>
  <div class="homeButton">
    <a href="/dreams/new"><button id="actualButton" action="/dreams/new">I JUST WOKE UP!!!</button></a>
  </div>
  <%- include('./partials/footer') %>