body {
  font-family: 'Tsukimi Rounded', sans-serif;
  grid-template-areas: 
  "nav"
  "main"
}

a {
  color: #ffffff;
}

body > nav {
  font: 14px;
  grid-area: nav;
  background-image: url('../images/StarryCloudyBG.jpeg');
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-image: url('../images/StarryCloudyBG.jpeg');
  background-position: 40% 40%;
}

nav > a.active {
  color: white;
  cursor:crosshair;
}

#dreamingText {
  display: flex;
  font-family: 'Tsukimi Rounded', sans-serif;
  flex-direction: row;
  font-size: 3vmin;
  justify-content: space-between;
}

#homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}