body {
  font-family: 'Tsukimi Rounded', sans-serif;
  grid-template-areas: 
  "nav"
  "main"
}

a {
  color: #ffffff;
}

body > nav {
  font: 14px;
  grid-area: nav;
  /* background-image: url('../images/StarryCloudyBG.jpeg'); */
  background-color: grey;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-image: url('../images/StarryCloudyBG.jpeg');
  background-position: 40% 40%;
}

nav > a.active {
  color: white;
}

#dreamingText {
  display: flex;
  font-family: 'Tsukimi Rounded', sans-serif;
  flex-direction: row;
  font-size: 3vmin;
  justify-content: space-between;
  padding-top: 0;
}

/* .tallest {
  transform: scaleY(6);
}

.taller {
  transform: scaleY(4);
}

.tall {

  transform: scaleY(2);
} */

#actualButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: 50%;
  margin: auto;
  padding: 5vmin 12vmin;
  font-family: 'Tsukimi Rounded', sans-serif;
  font-size: 3vmin;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 15vmin;
}

#add-dream-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Tsukimi Rounded', sans-serif;
}

#dreamInput {
  font-family: 'Tsukimi Rounded', sans-serif;
}

#addButton {
  font-family: 'Tsukimi Rounded', sans-serif;
}

#addDate {
  font-family: 'Tsukimi Rounded', sans-serif;
}

#dreamScale {
  font-family: 'Tsukimi Rounded', sans-serif;
}