/* element.style {
  mix-blend-mode: difference;
  color:#fff;
} */

/* html {
  
  mix-blend-mode: difference;
  color:#000000;
} */

body {
  font-family: 'Tsukimi Rounded', sans-serif;
  background-image: url('../images/StarryCloudyBgEDITED.jpeg');
  background-size: 100%;
  background-repeat: none;
  background-attachment: fixed;
  mix-blend-mode: difference;
  color:#fff;
}

a {
  mix-blend-mode: difference;
  color:#fff;
}

body > nav {
  font: 14px;
  background-image: url('../images/StarryCloudyBG.jpeg');
  background-color: grey;
  /* background-position: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  mix-blend-mode: difference;
  color:#fff;
}

nav > a:hover:not(.active) {
  color: white;
  background-image: url('../images/StarryCloudyBG.jpeg');
  background-position: 40% 40%;
}

nav > a.active {
  color: white;
}

#dreamingText {
  display: flex;
  font-family: 'Tsukimi Rounded', sans-serif;
  mix-blend-mode: difference;
  color:#fff;
  flex-direction: row;
  font-size: 3vmin;
  justify-content: space-between;
  padding-top: 0;
}

.tallest {
  transform: scaleY(4);
  margin-top: 16px;
}
.taller {
  transform: scaleY(3);
  margin-top: 12px;
}
.tall {
  transform: scaleY(2);
  margin-top: 6px;
}
.normal {
  transform: scaleY(1.5);
  margin-top: 1px;
}

#actualButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: 50%;
  margin: auto;
  padding: 5vmin 12vmin;
  font-family: 'Tsukimi Rounded', sans-serif;
  font-size: 3vmin;
  mix-blend-mode: difference;
  color:#2b2a2a;
}

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 15vmin;
  mix-blend-mode: difference;
  color:#2b2a2a;
}

#add-dream-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Tsukimi Rounded', sans-serif;
}

#dreamInput {
  font-family: 'Tsukimi Rounded', sans-serif;
  height: 20vmin;
  width: 40vmin;
  mix-blend-mode: difference;
  color:#000000;
}

button {
  font-family: 'Tsukimi Rounded', sans-serif;
  mix-blend-mode: difference;
  color:#2b2a2a;
}
button :hover{
  background-image: url('../images/StarryCloudyBG.jpeg');
  color: white;
}

#addButton {
  font-family: 'Tsukimi Rounded', sans-serif;
  mix-blend-mode: difference;
  color:#2b2a2a;
}
#addDate {
  font-family: 'Tsukimi Rounded', sans-serif;
  mix-blend-mode: difference;
  color:#2b2a2a;
}
#go {
  mix-blend-mode: difference;
  color:#fff;
}

#dreamScale {
  font-family: 'Tsukimi Rounded', sans-serif;
  mix-blend-mode: difference;
  color:#2b2a2a;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  mix-blend-mode: difference;
  color:#fff;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 0px;
  
}

.dreamsTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  mix-blend-mode: difference;
  color:#fff;

}
h2 {
  display: flex;
}
#profileDreams {
  display: flex;
  justify-content: space-around;
  font-size: 2vmin;
  letter-spacing: 7vmin;
  mix-blend-mode: difference;
  color:#fff;
}

.showHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vmin;
  mix-blend-mode: difference;
  color:#fff;
}

.dreamLayout {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  mix-blend-mode: difference;
  color:#fff;
}

.contentDream {
  max-height: 10px
}

/* I got the inverted color feature from reading this site: https://www.sitepoint.com/community/t/invert-color-text/365494/5 */