<%- include('../partials/header') %>

  <form id="add-dream-form" method="POST">
    <label>Go</label>
    <input type="text" name="Don't Think">
    <input type="date">
    <input type="submit" value="Add Dream">
  </form>

  <%- include('../partials/footer') %>